@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-black dark:text-white p-0 m-0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  @apply dark:bg-black;
}

.title {
  @apply flex w-full mb-20 text-xl md:text-3xl leading-9 font-bold justify-center;
}
.content {
  @apply mx-20 mt-12 leading-8;
}
pre {
  padding: 1rem;
  background-color: #1f2937;
  border-radius: 0.25rem;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

button {
  all: unset;
  cursor: pointer;
}
